- model_class = User
.page-header
  %h1=t '.title', :default => "User: #{@user.name}"
  = link_to "Profile Page", person_path(@user.person)

%p
  %strong= model_class.human_attribute_name(:email) + ':'
  = @user.email
%p
  %strong Nationality:
  - @user.person.has_nationality.collect do |n|
    = "#{n}, "
%p 
  %strong Associations:
  - @user.person.has_membership.collect  do |m| 
    = "#{m}, "
%p
  %strong= model_class.human_attribute_name(:sign_in_count) + ':'
  = @user.sign_in_count
%p
  %strong= model_class.human_attribute_name(:current_sign_in_at) + ':'
  = @user.current_sign_in_at


- if current_user && current_user.admin?
  .form-actions
    = link_to t('.back', :default => t("helpers.links.back")), users_path, :class => 'btn'
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(@user), :class => 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(@user), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
