= render :partial => 'creator_modal'
= simple_nested_form_for @document, :html => { :class => 'form-horizontal',  :multipart => true } do |f|
  .control-group
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'text_field'
  .control-group
    = f.label :date, :class => 'control-label'
    .controls
      = f.text_field :date, 'data-behaviour' => 'datepicker'
  .control-group
    = f.label :uuid, :class => 'control-label'
    .controls
      = f.text_field :uuid, :class => 'text_field'
  %section#creators
    .page-header
      %h3 
        Creators
        %small= link_to "Add a creator", new_person_path, {:remote => true, 'data-toggle' => 'modal', 'data-target' => "#creator-modal-window", 'data-backdrop' => true, 'data-keyboard' => true}
    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th.remove-row
          %th Name
          %th Title
      %tbody
        = f.fields_for(:creators, Person) if !@document.creators.first.nil?
  %section#items
    .page-header
      %h3 
        Items
      = f.fields_for(:items, Item) if !@document.items.first.nil?
  %section#summary
    .page-header
      %h3 Summary
      .control-group
        .controls
        .summary_textarea_wrapper
          = f.text_area :summary, :class => 'summary_textarea'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), documents_path, :class => 'btn'