- model_class = Document
.page-header
  %h3
  
    = link_to(:back) { content_tag(:i, '', :class => 'icon-arrow-left back-arrow')   }
    =t '.title', :default => @document.title

.row-fluid
  .span3
    .well.sidebar-nav
      %ul.nav.nav-list   
        - @document.creators_by_roles.each_pair do |role, values|
          %dt=  "#{role.titleize}:"      
          %dd
            %ul
              - values.each do |creator|
                %li= link_to(creator.name, creator)
        %dt= model_class.human_attribute_name(:date) + ':'
        %dd= pretty_date(@document.date)
        %dt= model_class.human_attribute_name(:topics) + ":"
        %dd
          =  associated_index_list(@document.topics)

        %dt= model_class.human_attribute_name(:items) + ":"
        %dd
          = item_list(@document.items, "ul", nil)    
        -# 
          %dt= model_class.human_attribute_name(:summary) + ':'
          %dd= @document.summary
  .span9
    - if show_pdf?(@document)
      #document-viewer
        = @document.pdf_item.embed
    - else
      .hero-unit
        %h1 Online Document Currently Not Available
        %p Please check back soon. Thanks!
    
- if current_user && current_user.admin?
  .form-actions
    = link_to t('.back', :default => t("helpers.links.back")), documents_path, :class => 'btn'
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_document_path(@document), :class => 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), document_path(@document), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
