- model_class = Place
.page-header
  %h1=t '.title', :default => "#{model_class.model_name.human} : #{@place.name}"

%dl.dl-horizontal
  %dt= model_class.human_attribute_name(:name) + ':'
  %dd= @place.name
  %dt= "People:"
  - @place.members.each do |mem|
    %dd= link_to( mem.name, person_path(mem) )
- if current_user && current_user.admin?
  .form-actions
    = link_to t('.back', :default => t("helpers.links.back")), places_path, :class => 'btn'
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_place_path(@place), :class => 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), place_path(@place), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
