!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Beacon"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    %link(href="images/favicon.ico" rel="shortcut icon")


  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %h3
            %a.brand(href="/")
              %i.icon-globe
              Beacon
          .nav-collapse
            %ul.nav
              %li= link_to "Documents", "/documents"
              %li= link_to "People", "/people"
              %li.dropdown 
                = link_to "#", :class => "dropdown-toggle", "data-toggle" => 'dropdown'   do
                  Topics
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to "All Topics", topics_path
                  %li= link_to "Concepts", concepts_path
                  %li= link_to "Places", places_path
                  %li= link_to "Things", things_path
            = form_tag('/search', :method => :get, :remote => false, :class => "navbar-search pull-left", :autocomplete => 'off') do
              = text_field_tag(:search, params[:search], :class => "search-query span2", :placeholder => "Search")
            %ul.nav.pull-right#login
              = render "sign_out" if user_signed_in?
              = render "sign_in" if !user_signed_in?
    .container-fluid
      = render "row_with_facets" if @facets
      = render "row_no_facets" if !@facets
      
      %footer.footer
        %p
          %a{:href => "http://wmu.se"} The World Maritime University
          %br 
          Malmö, Sweden.
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
